// Colors
$turqoise: #00ADAF;
$lavender: #F50081;

$colors:(
  turqoise    : #00ADAF,
  lavender    : #F50081,
  brick-red   : #FE4B64,
  leaf-green  : #74CA4D,
  mint-green  : #00ADAF,
  yellow      : #FBD103,
  fade-gray   : #C7C7C7,
  neutral-gray: #AAAAAA,
  medium-gray : #8F8F8F,
  dark-gray   : #4F4F4F,
  dark-blue   : #334253,
  white       : #FFFFFF,
  black       : #000000
);