.page--landing {

  .section--categories {
    .card-slider {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 1rem;
    }
  }

  .section--products {
    .section-header {
      flex-direction: column;
      text-align: center;
    }

    .section-title {
      display: block;
      width: 100%;
      fill: map-get($colors, dark-blue);
      font-size: 2rem;

      @include media-breakpoint-up(md) { 
        font-size: 3rem;
      }
      
      @include media-breakpoint-up(lg) { 
        font-size: 3.3rem;
      }
      
      @include media-breakpoint-up(xl) { 
        font-size: 3.6rem;
      }
    }

    .section-subtitle {
      margin-bottom: 0.6em;
      fill: map-get($colors, medium-gray);
      font-size: 0.9rem;

      @include media-breakpoint-up(md) { 
        font-size: 1rem;
      }
      
      @include media-breakpoint-up(lg) { 
        font-size: 1.1rem;
      }
      
      @include media-breakpoint-up(xl) { 
        font-size: 1.2rem;
      }
    }

    .cta-wrapper {
      text-align: center;

      .btn-cta {
        font-size: 0.8rem;

        @include media-breakpoint-up(lg) { 
          font-size: 0.9rem;
        }

        @include media-breakpoint-up(xl) { 
          font-size: 1rem;
        }
      }
    }
  }
}