.site-footer {
  background: white !important;


  .site-footer-title {
    font-weight: 500;
    margin-bottom: 0.6em;
    font-size: 0.9rem;
  }

  .site-footer-copy {
    font-size: 0.8rem;
    line-height: 1.4;
    color: map-get($colors, medium-gray);
  }

  .list-features {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;

    .list-item {
      width: 50%;
      flex-shrink: 0;

      @include media-breakpoint-up(md) { 
        width: 20%;
      }

      .media {
        margin-bottom: 0.6rem;
      }
    }

    .list-image {
      width: 36px;
      display: block;
      align-self: center;
    }

    .list-title {
      margin: 0 0 0 1em;
      line-height: 1.1;
      font-size: 0.9rem;
      align-self: center;
    }

    .list-copy {
      font-size: 0.8rem;
      line-height: 1.4;
      color: map-get($colors, medium-gray);
      max-width: 12em;
      margin-right: auto;
      padding-right: 1em;
    }

    .features-logo {
      height: 45px;
    }

    .rating-value {
      font-size: 3.5rem;
      font-weight: 500;

      small {
        font-size: 0.5em;
      }
    }
  }

  .newsletter-wrapper {

  }

  .download-app-wrapper {
    @include media-breakpoint-up(md) { 
      text-align: right;
    }
    
    .app-link {
      display: inline-block;
      margin: 0 8px 8px;
    }
  
    .app-image {
      height: 48px;
      margin: 0;
    }
  }

  .address-details {
    @include media-breakpoint-up(md) { 
      width: 240px;
    }

    @include media-breakpoint-up(lg) { 
      width: 300px;
    }

    @include media-breakpoint-up(xl) { 
      width: 320px;
    }

    .footer-logo {
      height: 65px;
    }

    .address-title {
      font-weight: 500;
      font-size: 0.9rem;
      color: #000000;
    }

    .address-body {
      color: map-get($colors, medium-gray);
      line-height: 1.6;
      font-size: 0.8rem;
      margin-bottom: 0.6em;
    }
  }

  .footer-menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) { 
      flex-direction: row;
      width: calc(100% - 240px);
    }

    @include media-breakpoint-up(lg) { 
      width: calc(100% - 300px);
    }

    @include media-breakpoint-up(xl) { 
      width: calc(100% - 320px);
    }
  }

  .footer-menu-header {
    font-weight: 500;
    margin-bottom: 0.6em;
    font-size: 0.9rem;
  }

  .list-footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .list-item {
      width: 50%;
      flex-shrink: 0;

      @include media-breakpoint-up(md) { 
        width: 100%;
      }
    }

    .list-link {
      font-weight: 400;
      margin-bottom: 0.8em;
      font-size: 0.8rem;
      color: map-get($colors, medium-gray);
      text-decoration: none;
      transition: all 0.15s ease-in;

      &:hover {
        color: lighten(map-get($colors, medium-gray), 10%);
      }

      &:active,
      &:focus {
        color: darken(map-get($colors, medium-gray), 10%);
      }
    }
  }

  .list-social {
    list-style: none;
    margin: 0 -5px;
    padding: 0;

    .list-item {
      display: inline-block;
      padding: 0 5px;
    }

    .list-link {
      text-decoration: none;
      background: #E1FFFF;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      line-height: 2rem;
      text-align: center;
      justify-content: center;
    }

    .list-image {
      display: block;
      height: 20px;
      width: 20px;
      fill: map-get($colors, mint-green);
      display: flex;
      align-self: center;

      * {
        fill: map-get($colors, mint-green);
      }
    }
  }

  .copyright {
    font-size: 0.8rem;
    text-align: center;
    color: map-get($colors, medium-gray);
  }

  .list-payment-method {
    margin: 0 -2px;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(md) { 
      text-align: right;
    }

    .list-item {
      display: inline-block;
      padding: 0 2px;
    }

    .list-image {
      display: block;
      height: 20px;
    }
  }
}

.nav-tabs {
  border: none;

  .nav-item {
    flex: 1;
  }

  .nav-link {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 0.9rem;
    line-height: 1.3;
    text-align: center;
    transition: all 0.15s ease-in;
    color: black;
  }

  .nav-link.active {
    background: none;
    border-bottom: 2px solid map-get($colors, lavender);
  }

  .nav-link:hover {
    background: map-get($colors, fade-gray);
  }
}